[flake8]
ignore = C101,D403,F403,F405,I100,I201,W503,W504
exclude =
    **/migrations/*,
    .git,
    .mypy_cache,
    __pycache__,
    venv
    .venv
filename = *.py
accept-encodings = utf-8
max-complexity = 12
max-linenumber = 500
max-line-length = 119

inline-quotes = double
multiline-quotes = double
docstring-quotes = double
avoid-escape = true

literal-inline-quotes = double
literal-multiline-quotes = double
literal-docstring-quotes = double
literal-avoid-escape = true

per-file-ignores =
    core/backend/settings/templates/settings.dev.py:F821
